<div class="container bg-light p-2 mt-3">
<div class="mt-4">
<h4 class="text-center shadow p-3 bg-secondary text-white">វិញ្ញាសាត្រៀមប្រឡងឆមាសលើកទី១</h4>
 <ol class="roman">
  <li>គណនាអាំងតេក្រាលនៃអនុគមន៍ខាងក្រោម៖​</li>​
    <ol class="km">
        <li>$\displaystyle\int \frac{2x-1}{x^2-x+1} dx$</li>
        <li>$\displaystyle\int \frac{\cos^2x-\sin^2x}{\cos x-\sin x} dx$</li>
    </ol>
    <li>គណនាលីមីតនៃអនុគមន៍ខាងក្រោម៖</li>
    <ol class="km">
        <li>$\displaystyle\lim\limits_{x\to1}\frac{x^2-3x+2}{x^2-1}$</li>
        <li>$\displaystyle\lim\limits_{x\to2}\frac{x^2-4}{\sqrt{x}-\sqrt{2}}$</li>
        <li>$\displaystyle\lim\limits_{x\to1} \frac{1-x^2}{x^3-x^2+2x-2}$</li>
        <li>$\displaystyle f(x)=\frac{1-\cos2x}{x^2}~~ $ ដែល $f(0)=\ln\left(m-1\right)$</li>
        <li>$\left(\vec{i},\vec{j}, \vec{k}\right)$</li>
    </ol>
    <li>ចំពោះ $a \ne 0$ នោះមានសមីការ \(ax^2 + bx + c = 0\) មានប្ញសពីរ គឺ</li>
        $$x_1 = {-b - \sqrt{b^2-4ac} \over 2a}.$$
        $$x_2 = {-b + \sqrt{b^2-4ac} \over 2a}.$$
 </ol>
</div>
</div>